.container {
  border: 2px solid #858b94;
  border-radius: 0.375rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dropZone {
  padding: 1.5rem;
  height: 100%;
  border: 2px dashed #858b94;
  color: #858b94;
  font-size: 2.25rem;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: fit-content;
}

.uploadedImage {
  width: 100%;
  border-radius: 0.375rem;
  object-fit: cover;
  align-self: start;
}

.file-input {
  display: none;
}
